h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1ptapan*_ga*NjQ3NTYyMTAzOC4xNjk4MzUxMTYy*_ga_3LRZM6TM9L*MTY5OTM5MDcyOC4yNS4xLjE2OTkzOTc2MzUuMjQuMC4w");
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paragraf {
    font-family: Arial, Helvetica, sans-serif;
}

#brushes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

#frames {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

#paint {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

#bold {
    color: blueviolet;
}